<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>application-identifier</key>
    <string>JY93CF5N7U.com.zaparc.app</string>
    <key>com.apple.developer.team-identifier</key>
    <string>JY93CF5N7U</string>
    <key>get-task-allow</key>
    <true/>
    <key>keychain-access-groups</key>
    <array>
      <string>JY93CF5N7U.com.zaparc.app</string>
    </array>
    <key>aps-environment</key>
    <string>development</string>
  </dict>
</plist>
